/* Start Global Rules */


:root{
    --main-color:#fdc500;
    --color2: rgba(255, 250, 250, 0.3);
    --transparent-color: rgba(253, 197, 0, 10%);
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    
    font-family: 'Dancing Script', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    


}

ul{
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

.background{
    z-index: -1;
    min-height: 100vh;
    background-image: url(../img/egypt/background-2.jpg);
    background-size:cover;

}

/* Start Heading */
.header {

    z-index: 2;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    padding-top: 40px;
}

.header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;


}

.header .container .toggle-menu{
    color:var(--main-color);
    font-size:22px;
}
@media (min-width:768px){
    .header .container .toggle-menu{
    display: none;
    }
}
.header .container:after{
    content: '';
    z-index:1;
    position: absolute;
    background-color: var(--color2);
    width: calc(100% - 30px);
    height: 1px;
    bottom: 0px;
    left: 15px;

}

.header .container .menu{
    display: flex;
    flex-direction: row;
    padding-top: 20px;

}
@media (max-width:767px){
    .header .container .menu{
    display: none;

    }
  
    .header .container .toggle-menu:hover +ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top:100%;
        right:30%;
        width: 25%;

        background-color: rgb(0 0 0 / 50%);

    }

}

.header .container .menu li a{
    font-size: 13px;
    margin-right: 40px;
    text-transform: uppercase;
    font-weight: normal;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: .1s;
    padding:20px 10px;

}
@media (max-width:767px){
    .header .container .menu li a{
        padding:0;
    }
}
.header .container .menu li a.active,
.header .container .menu li a:hover{
    color:var(--main-color);
    border-bottom: 1px solid var(--main-color);
}


.header .container .logo img{
    height: 30px;
}

.header .container .search{
    color: var(--main-color);
    font-size: 25px;
    cursor: pointer;
}




/* End Heading */


/* Start landing */

.landing{
   


}
.landing .overlay{
    z-index: 1;
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: rgb(0 0 0 /30%);
}
.landing .text{
    position: absolute;
    /* left: 10px; */
    top:50%;
    transform: translateY(-50%);
    margin-top: 50px;
    width:50%;
    padding:50px;
    background-color:var(--transparent-color) ;
    /* border: 2px solid var(--transparent-color); */
    border-radius: 50px;
    color:white;
    z-index: 2;

}

.landing .text .content h2{
    color: var(--main-color);
    font-size: 32px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 20px;
}
.landing .text .content p{
    font-size: 14px;
    font-weight: bold;
    line-height: 2;
}

@media(max-width:767px){
    .landing .text{
        width:100%;
    }
    .landing .text .content{
        max-width: 100%;
    }
}



/* End landing */



/* Start Gallery */

.gallery{
    padding-top: 50px;
    padding-bottom: 50px;
    background-image:url("../img/egypt/background.jpg") ;
    background-size: cover;
    justify-content: center;
}
.gallery .gallery-logo{
    display: flex;
    justify-content: center;
}
.gallery .gallery-logo img{

    height:150px;
    margin-bottom: 50px;
}

@media(max-width:767px){
    /* .gallery .gallery-logo img{

        left: 0;
        transform: none;
    } */
}
.gallery .images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.gallery .images .box{
    margin: 10px;
    overflow: hidden;
    position: relative;
}
.gallery .images .box img{
    /* margin-right: 15px; */
    width: 100%;
    height:100%;
}

.gallery .images .box:hover .caption{
    bottom: 0;
    
}
.gallery .images .box:hover img{
    border: 5px solid var(--main-color);
    height: 100%; 
    width: 100%;
    /* transform: rotate(3deg) scale(1.1); */
    border-radius: 20px;
}
@media(min-width:768px){
    .gallery .images .box{
        flex-basis: 50%;
    }
}

@media(min-width:1199px){
    .gallery .images .box{
        flex-basis: 25%;
    }
}

.gallery .images .box img{
    max-width: 100%;
    transition: .5s;
}
.gallery .images .box .caption{
    position: absolute;
    text-align: center;
    left:0;
    padding:20px;
    border-radius: 20px;
    background-color: var(--main-color);
    width:100%;
    transition: .6s;
    bottom:-100%;
}
.gallery .images .box .caption h4{
    font-weight: normal;
    margin-bottom: 10px;
}
.gallery .images .box .caption p{
    
}
/* End gallery */


/* Start Video */
.video {
    background-color: rgb(255, 255, 255);
    background-size: cover;
}
.video .logo {
}
.video .logo img{
    position: relative;
    left:50%;
    transform: translateX(-50%);
    height:200px;
    margin-bottom: 50px;
}
.video .container .boxes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding-top: 100px;
    padding-bottom: 100px; */
    flex-basis: 50%;
    flex-wrap: wrap;
    /* flex-direction: column; */
}


.video .container .boxes .text{
    /* background-color: brown; */
    color:rgb(0, 0, 0);
    font-weight: bold ;
    margin-right: 20px;
    line-height: 10px;
    width: 400px;
}

.video .container .boxes .text h2 p{
    text-transform: uppercase;
}

.video .container .boxes video{
    /* height: 500px; */
    width: 400px;
    border: 5px double #fdc600;
    border-radius: 50px;
    margin: 10px;
}
/* End Video */